*~
*.s[a-w]?
*.vim
/TODO/
/bucts/
/coreboot/
/flashrom/
/grub/
/memtest86+-5.01/
/bin/
/libreboot_util.tar.xz
/libreboot_macbook21.tar.xz
/libreboot_qemu_i440fx_piix4.tar.xz
/libreboot_qemu_q35_ich9.tar.xz
/libreboot_r400_4mb.tar.xz
/libreboot_r400_8mb.tar.xz
/libreboot_t60.tar.xz
/libreboot_x200_4mb.tar.xz
/libreboot_x200_8mb.tar.xz
/libreboot_x60.tar.xz
/libreboot_util/
/release/
/resources/utilities/ich9deblob/factory.rom
/resources/utilities/ich9deblob/deblobbed_descriptor.bin
/resources/utilities/ich9deblob/demefactory_4kdescriptor.bin
/resources/utilities/ich9deblob/libreboot.rom
/resources/utilities/ich9deblob/ich9deblob
/resources/utilities/ich9deblob/ich9gen
/resources/utilities/ich9deblob/demefactory
/resources/utilities/ich9deblob/obj/*.o
/resources/utilities/ich9deblob/obj/*/*.o
/resources/utilities/ich9deblob/mkdescriptor.c
/resources/utilities/ich9deblob/mkdescriptor.h
/resources/utilities/ich9deblob/mkgbe.c
/resources/utilities/ich9deblob/mkgbe.h
/resources/utilities/ich9deblob/ich9fdgbe_4m.bin
/resources/utilities/ich9deblob/ich9fdgbe_8m.bin
/resources/utilities/coreboot-libre/tocheck
/mkgbe.c
/mkgbe.h
/ich9fdgbe_8m.bin
/ich9fdgbe_4m.bin
/tobuild/
/tobuild.tar.xz
/commitid
/resources/utilities/i945-pwm/i945-pwm
/releasefilelist
/push
